
body {
    background:url('http://cdn.wallpapersafari.com/13/6/Mpsg2b.jpg');
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
    height: 95vh;
    overflow-y:scroll ;
}


.back-button{ 
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: rgb(13, 25, 37);
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}

.logout-button{ 
    float: right;
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: rgb(13, 25, 37);
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}
  
.list-header {
    clear: right;
    color:#fff;
    text-align:center;
    font-size:140%;
}

.options {
    height: 120px; 
    padding-top: 0px;   
}

.op1{
    text-align: center;
    color:black;
    top:8px;
    font-size: 18px;
    font-weight: bold;
}

.select{
    width: 80%;
    height:30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    margin:.5em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;

}

.clickhere{
    height:30px;
    width:100px;
    background:#fff; 
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: rgb(13, 25, 37);
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
    margin-left: 9px;
    background-color: darkturquoise;

}


.table{  
    margin-top: 25px; 
}

.tab{
    background-color: white;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
}



