
<h1>Home Page</h1>
<a routerLink="/login">Login Page</a> ||
<a routerLink="/menu">Menu Page</a> ||
<a routerLink="/request-list">Request List Page</a> ||
<a routerLink="/chequebook">Chequebook</a> ||
<a routerLink="/add-card">Add On Card</a> ||
<a routerLink="/disputed-transaction">Disputed Transaction</a> ||
<a routerLink="/lost-stolen-card">Lost/Stolen Card</a> ||
<a routerLink="/credit-limit">Credit Limit</a> ||
<a routerLink="/query-list">Query List</a>  ||
<a routerLink="/query-response">Query Response</a>  ||
<a routerLink="/bill-payment">Bill Payment</a> 


